@font-face {
    font-family: '888';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/888-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: '888';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../fonts/888-demibold-webfont.woff') format('woff');
}

@font-face {
    font-family: '888';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../fonts/888-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: '888';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../../fonts/888-ultra-webfont.woff') format('woff');
}

