@use '../abstracts/colors';
@use '../abstracts/mixins';

.navigation {
    color: $light;
}

.menu {
    display: flex;
    gap: 20px;
    padding: 0 1rem;

    &__item {
        display: block;
        padding: 1.5rem 0 1rem;
        border-bottom: 0.5rem solid $dark;

        &:hover {
            border-bottom: 2px solid $light;
            transition: 0.3s;
        }
    }

    &__item:hover .subMenu {
        display: block;
    }

    .subMenu {
        display: none;
        position: absolute;
        background-color: $dark;
        width: fit-content;
        margin-top: 1.6rem;
        z-index: 1;

        &__item {
            display: block;
            padding: 1rem 15px;
            border-bottom: 1px solid $light;
        }

        &__item:hover {
            background-color: $natural;
            transition: 0.3s;
        }
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navigation {
        display: none;
    }
}
